<h1>Menu</h1>

<% if  flash[:notice] %>
	<div class="alert alert-success"> <%= flash[:notice] %> </div>
<% end %>

<table width="100%" class="table">
	<tr>
		<td>
			<div class="btn-group" role="group" aria-label="Basic example">
			  <% @sections.each do |section| %>
				<%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id]==section.id.to_s ? 'btn-primary active' : 'btn-secondary'}"  %>
					<%end%>
				</div>
		</td>
		<td>
			<div class="container">
				<%= hidden_field_tag :section, params[:section] %>
				<%= form_tag nil, method: 'get' do %>

					<div class="form-inline">
					<div class="row">
						<div class="col">
							<%= select_tag :sort_column, options_for_select(['Name', 'Price']), class: 'form-control'  %>
						</div> 
						<div class="col">
							<%= select_tag :sort_direction, options_for_select(['Asc', 'Desc']), class: 'form-control'  %>
						</div>

						<div class="col">
							<%= submit_tag "Sort", class: 'btn btn-primary' %>

						</div>
					</div>
						
						
						
			</div>
			

		<% end %>
</div>

		</td>

	</tr>

</table>






<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Description</th>
			<th>Price</th>
			<th></th>
		</tr>
	</thead>

<div class='tbody'>

<% @food_items.all.each do |item| %>
		
			<tr>
				<td><%= link_to item.name, item %></td>
				<td><%= link_to image_tag(item.image_url, size: "300x300"), item %></td>
				<td><%= truncate item.description, length: 300 %></td>
				<td> <%= number_to_currency item.price %> </td>
				<td><%= link_to "Order", new_food_item_order_path(item), class: 'btn btn-primary' %></td>
			</tr>

	</div>
	
	
<%end%>
</table>


